/brats20-dataset-training-validation/
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/3D-Unet-brain-tumor-analysis.iml
/.idea/modules.xml
/Kaggle/
/231_234_BraTa2020_Unet_segmentation/
